/* Настройка контейнера для тегов */
.container-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 450;
  gap: 1rem;
  height: 4.6rem;
  padding: 0 2.2rem;
  background-color: #fff;
  border-radius: 2.3rem;
  cursor: pointer;
}
.container-tag-reverse {
  padding: 0;
  padding: 0 1.8rem;
}
.container-tag .reverseMenu {
  transition: all 0.5s;
}
.close-tag {
  transition: all 0.5s;
}
.animateX {
  transform: rotateZ(180deg);
}
/* Анимация для меню */
.rotate {
  transform: rotateZ(180deg);
}
/* анимация для тега с групой */
.animate-group {
  animation: shake 0.5s linear infinite;
}
/* анимация для тега с расписанием */
.animate-shedule {
  animation: shake 0.5s linear infinite;
}

/* Настройка анимации для тегов */
@keyframes shake {
  0% {
    transform: translateY(0rem) translateX(0rem);
  }
  25% {
    transform: translateY(-0.2rem) translateX(-0.1rem);
  }
  75% {
    transform: translateY(0.2rem) translateX(0.1rem);
  }
  100% {
    transform: translateY(0rem) translateX(0rem);
  }
}
