/*  Шрифт Inter Tight */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 10px;
}

* {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}
.contaner-main {
  background-color: #f2f3f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container-border {
  margin: 0 1.4rem;
}
.container-botton-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}
